<div class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="mdc-toolbar__title">Discover</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
      <a id="search" href="#" class="material-icons mdc-toolbar__icon" aria-label="Search" alt="S">search</a>
      <a id="openFilters" href="#" class="material-icons mdc-toolbar__icon toggle" aria-label="Open filters" alt="OF" role="button">filter_list</a>
    </section>
  </div>
</div>