@import "../colors/colors";
@import "@material/theme/mdc-theme";
@import "@material/typography/mdc-typography";

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  @include mdc-theme-prop("color", "text-primary-on-primary-dark");
  @include mdc-typography("caption");
}
.logo{
  box-sizing: border-box;
  position: relative;
  padding: 12px 5px 5px 5px;
  display: flex;
  align-items: center;
  max-width: 110px;

  &__text{
      margin: 0;
  }

  &__image{
      max-width: 100px;
  }
}
