<footer>
  <div class="footer-container mdc-theme--secondary-bg">
    <a class="logo" href="/" alt="Home page">
      <img class="logo__image" src="/assets/img/logo/hinteat.png" srcset="/assets/img/logo/hinteat.png 1x, /assets/img/logo/hinteat@2x.png 2x" alt="HintEat"> 
    </a>
    <span class="version">Version UI {{version}}</span>
  </div>
</footer>