<div class="mdc-card restaurant-preview">
  <a class="mdc-card__primary-action open-detail-restaurant" href="#" data-url="/restaurant.html?id={{restaurant.id}}" data-id="{{restaurant.id}}">
    <div class="restaurant-preview-media">
      <div class="restaurant-preview-media__wrapper">
        <picture class="lazy-loading-image">
          <source media="(max-width:388px)"
            data-srcset="assets/img/previews/{{restaurant.photograph}}@340.webp"/>
          <source media="(min-width:576px) and (max-width:1069px)"
            data-srcset="assets/img/previews/{{restaurant.photograph}}@340.webp"/>
          <source media="(min-width:1280px) and (max-width:1430px)"
            data-srcset="assets/img/previews/{{restaurant.photograph}}@340.webp"/>
          <img class="restaurant-preview-media__image" alt="{{restaurant.description}}"
            src="assets/img/previews/{{restaurant.photograph}}@5.jpg"
            data-src="assets/img/previews/{{restaurant.photograph}}.jpg"
            data-srcset="/assets/img/previews/{{restaurant.photograph}}.webp"/>
        </picture>  
      </div>      
    </div>
    <div class="mdc-card__content">
      <h2 class="mdc-typography--title restaurant-preview__title">{{restaurant.name}}</h2>
      <h3 class="mdc-typography--subheading1 restaurant-preview__subtitle">{{restaurant.neighborhood}}</h3>
    </div>
    <div class="mdc-card__content mdc-card__content--secondary mdc-typography--body1">
      {{restaurant.address}}
    </div>
  </a>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <button class="mdc-button mdc-card__action mdc-card__action--button open-detail-restaurant" data-url="/restaurant.html?id={{restaurant.id}}" data-id="{{restaurant.id}}">DISCOVER</button>
    </div>
    <div class="mdc-card__action-icons">
      <i class="material-icons mdc-card__action mdc-card__action--icon mdc-icon-toggle add-favorites-button"
        tabindex="0" role="button" aria-pressed="false" aria-label="Add to favorites" title="Add to favorites"
        data-toggle-on='{"label": "Remove from favorites", "content": "favorite"}'
        data-toggle-off='{"label": "Add to favorites", "content": "favorite_border"}'>favorite_border</i>
    </div>
  </div>
</div>