<select id="cuisines-select" name="cuisines">
  <option value="all">All Cuisines</option>
  {% for cuisine in cuisines %}
  <option value="{{ cuisine }}">{{ cuisine }}</option>
  {% endfor %}
</select>