@import "../colors/colors";
@import "@material/theme/mdc-theme";
@import "@material/list/mdc-list";
@import "@material/button/mdc-button";
@import "@material/toolbar/mdc-toolbar";
@import "@material/animation/variables";
@import "@material/animation/functions";

/* ====================== Map ====================== */
#map-container{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 10;
  opacity: 0;  
  visibility: hidden;
  transform: translateX(130%);

  @media screen and (min-width:640px) {
    position: relative;
    z-index: 0;
  }
}

#map-container[aria-hidden=false]{
  transition: 350ms;
  transition-timing-function: ease-out;
  
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

#map-container[aria-hidden=true]{
  transform: translateX(130%);
  transition-timing-function: ease-in;
  transition: 350ms;  
  visibility: hidden;
}

#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;

  @media screen and (min-width:640px) {
    height: 400px;
  }
}

/* ====================== Map Placeholder ====================== */
.map-placeholder{
  padding: 25px 0;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  overflow: hidden;

  @media screen and (min-width:640px) {
    display: none;
  }
}

.map-placeholder__image{
  max-width: 100%;
}

#open-map{
  position: absolute;
}

.mdc-toolbar.mdc-toolbar--fixed.map-toolbar{  
  @media screen and (min-width:640px) {
    display: none;
  }
}

a.skip-map {
  display: none;

  @media screen and (min-width:640px) {
    display: block;
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
  }
}

a.skip-map:focus, a.skip-map:active {
  color: #fff;
  background-color: $mdc-theme-primary-light;
  left: auto;
  top: 80px;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}