$mdc-theme-primary: #ff3d00;
$mdc-theme-primary-light: #ff7539;
$mdc-theme-primary-dark: #c30000;

$mdc-theme-secondary: #273043;
$mdc-theme-secondary-light: #50596e;
$mdc-theme-secondary-dark: #00071c;

$mdc-theme-background: #fff;