$mdc-theme-primary: #ff3d00;
$mdc-theme-primary-light: #ff7539;
$mdc-theme-primary-dark: #c30000;

$mdc-theme-secondary: #ff6d00;
$mdc-theme-secondary-light: #ff9e40;
$mdc-theme-secondary-dark: #c43c00;

$mdc-theme-background: #e0e0e0;