<main id="maincontent">
<section id="map-container">
    <div id="map"></div>
</section>
<section>
    <div class="filter-options">
    <h2>Filter Results</h2>
    <cuisine-filter-component></cuisine-filter-component>
    <neighborhood-filter-component></neighborhood-filter-component>
    </div>
    <ul id="restaurants-list"></ul>
</section>
</main>