<header-component></header-component>
<main id="maincontent">
	<map-component></map-component>
	<filters-component></filters-component>
	<results-component></results-component>
	<section>
			<ul id="restaurants-list"></ul>
	</section>
</main>