@charset "utf-8";
@import "../../node_modules/toastr/toastr.scss";

@import "./colors/colors";
@import "@material/theme/mdc-theme";

[aria-hidden="true"]  { display: none; }
[aria-hidden="false"] { display: block; }

.noscroll{
  overflow: hidden;
}