@import "../colors/colors";
@import "@material/theme/mdc-theme";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/button/mdc-button";
@import "@material/toolbar/mdc-toolbar";
@import "@material/select/mdc-select";
@import "@material/typography/mdc-typography";

#filters[aria-hidden="true"]  { display: none; }
#filters[aria-hidden="false"] { display: flex; }

.filters-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $mdc-theme-background;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.filters-toolbar{
  background-color: $mdc-theme-background;
  @include mdc-theme-prop('color', 'text-primary-on-primary-light');
}

.material-icons.mdc-toolbar__icon.filters-toolbar__icon{
  @include mdc-theme-prop('color', 'text-primary-on-primary-light');
}

.filters-content{
  position: static;
  padding: 80px 15px 25px 15px;
  overflow-y: scroll;
  flex: 1;
}

.filter-select{
  width: 100%;
  margin-bottom: 35px;  
}

.filters-results{
  padding: 15px;
  // background-color: $mdc-theme-background;
  @include mdc-theme-prop('background-color', 'primary');
  @include mdc-theme-prop('color', 'text-primary-on-primary-dark');
  @include mdc-typography("button");
  text-align: center;
  border-top:1px solid rgba(0,0,0,0.12); 
}

.cards-view-button[aria-pressed="true"] { 
  @include mdc-button-filled-accessible($mdc-theme-primary)
}











/* OVERRIDE DRAWERS*/
.mdc-drawer.mdc-drawer--right .mdc-drawer__drawer{
  -webkit-transform: translateX(107%);
  transform: translateX(107%);
  -webkit-transform: translateX(calc(100% + 20px));
  transform: translateX(calc(100% + 20px));
  left: auto;
  right: 0;
}
.mdc-drawer--open.mdc-drawer--right .mdc-drawer__drawer {
  -webkit-transform: none;
  transform: none;
}   

/* Custom styles */

.totals{
  color: $mdc-theme-primary-dark;
  width: 100%;
  box-shadow: none;
  border: none;
  background-color: inherit;
  padding: 18px;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}