<div id="filters" class="filters-wrapper" aria-hidden="true">
	<div class="mdc-toolbar mdc-toolbar--fixed filters-toolbar">
		<div class="mdc-toolbar__row">
			<section class="mdc-toolbar__section mdc-toolbar__section--align-start">
					<a id="close-filters" href="#" class="material-icons mdc-toolbar__menu-icon" aria-label="close filters">clear</a>
					<span class="mdc-toolbar__title">Be more specific</span>
			</section>
		</div>
	</div>
	<div class="toolbar-spacer"></div>
	<div class="mdc-list-group filters-content">
		<h3 class="mdc-list-group__subheader">Neighboorhood</h3>
		<ul class="mdc-list">
			<li class="mdc-list-item">line item</li>
			<li class="mdc-list-item">line item</li>
			<li class="mdc-list-item">line item</li>
		</ul>
		<hr class="mdc-list-divider">
		<h3 class="mdc-list-group__subheader">Cuisines</h3>
	</div>
</div>