<div id="filters" class="filters-wrapper" aria-hidden="true">
	<div class="mdc-toolbar mdc-toolbar--fixed filters-toolbar">
		<div class="mdc-toolbar__row">
			<section class="mdc-toolbar__section mdc-toolbar__section--align-start">
					<a id="close-filters" href="#" class="material-icons mdc-toolbar__icon filters-toolbar__icon" aria-label="close filters">clear</a>
					<span class="mdc-toolbar__title">Be more specific</span>
			</section>
			<section class="mdc-toolbar__section mdc-toolbar__section--align-end mdc-toolbar__section--shrink-to-fit">
					<a id="confirm-filters" href="#" class="material-icons mdc-toolbar__icon filters-toolbar__icon mdc-ripple-surface--primary" aria-label="confirm filters">done</a>
			</section>
		</div>
	</div>
	<div class="filters-content">
		<cuisine-filter-component></cuisine-filter-component>
		<neighborhood-filter-component></neighborhood-filter-component>		
		<button class="mdc-button cards-view-button" id="list-view-button" aria-pressed="{{ listView }}">
			List view
		</button>
		<button class="mdc-button cards-view-button" id="grid-view-button" aria-pressed="{{ gridView }}">
			Grid view
		</button>
	</div>
	<div class="filters-results"><span id="total-results">{{ totalResults }}</span> Results</div>
</div>