<div class="mdc-toolbar mdc-toolbar--fixed restaurant-toolbar">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <a id="back-to-home" href="#" class="material-icons mdc-toolbar__icon" aria-label="Back to home">arrow_back</a>
        <!-- <span class="mdc-toolbar__title">Be more specific</span> -->
    </section>
  </div>
</div>