<header-component></header-component>
<main id="maincontent">
	<map-component data-in-show-placeholder="true" data-injsfn-update-markers="updateMarkers"></map-component>
	<filters-component></filters-component>
	<results-component data-outjs-set-markers="setMarkers"></results-component>
</main>