<header-component data-outjs-open-filters="openFilters"></header-component>
<main id="maincontent">
	<map-component data-in-show-placeholder="true" data-injsfn-update-markers="updateMarkers"></map-component>
	<filters-component data-injsfn-open-filters="open" data-outjs-filter="filter"></filters-component>
	<results-component data-outjs-set-markers="setMarkers" data-injsfn-filter="filter"></results-component>
</main>
<footer-component></footer-component>